html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("../images/bruce1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.b-nav {
  padding-top: 15px;
}

.nav-color {
  background-color: transparent;
  border: none;
}

#opacity {
  background-color: black;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .35;
  z-index: -1;
}

#jumbo {
  color: white;
  background-color: transparent;
  text-align: center;
  margin-bottom: 0px;
  padding: 0px;
}

.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.fixed {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

body {
  font-family: 'Amaranth', sans-serif;
}

#logo {
  height: 25%;
  width: 25%;
  padding-bottom: 5%;
  min-width: 75px;
  min-height: 30px;
}

.carousel-item img {
  height: 33%;
  width: 33%;
}

.carousel-control {
  background: none !important;
}
