<div class="jumbotron jumbotron-fluid vertical-center fixed" id="jumbo">
  <div class="container">
    <div id="info" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <p>first</p>
        </div>
        <div class="item">
          <p>second</p>
        </div>
      </div>

    </div>

  </div>
  <!-- Controls -->
  <a class="carousel-control" href="#info" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#info" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
